body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc ;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

button {
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
}